.container {
  width: 500px;
  padding-top: 0x;
  margin: auto;
  place-items: center;
  display: grid;

  border: 1px solid gray;
}

.phonebook {
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.23;
  color: black;
  place-items: center;
  display: grid;
}

.contacts {
  margin-top: 20px;
  margin-bottom: -10px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.23;
  color: black;
  place-items: center;
  display: grid;
}
